.hero {
    height: 500px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: -80px;
    position: relative;
    overflow: hidden;
    background-color: white;

    .hero-image,
    &::before {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::before {
        content: '';
        background: #26252d;
        //clip-path: ellipse(2500px 98vh at top);
        z-index: 1;
    }

    .hero-image {
        background-size: cover;
        z-index: 0;
    }

    .hero-title {
        font-size: 60px;
        font-weight: 600;
    }

    .hero-message {
        font-size: 20px;
        opacity: 0.9;
    }

    .container {
        z-index: 2;

        .hero-text {
            text-align: center;
            max-width: 700px;
            margin: 0 auto;
        }
    }

    .hero-showcase-image {
        img {
            width: 100%;
            height: auto;
            max-width: 1160px;
        }
    }

    .links {
        display: flex;
        font-size: 18px;

        a {
            color: white;
            display: flex;
            align-items: center;
            text-decoration: none;

            &:hover {
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}
