.page.page-post .hero {
  height: 415px;
}

.page.page-post .post-content {
  font-size: 20px;
}

.page.page-post .post-content ul {
  list-style: none;
  counter-reset: item;
  padding: 0;
  margin: 30px 0;
}

.page.page-post .post-content li {
  counter-increment: item;
  margin-bottom: 10px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 15px 20px;
  border-radius: 10px;
  position: relative;
  font-size: 18px;
  line-height: 1.58;
}

.page.page-post .post-content li a:not(.btn) {
  color: #171717 !important;
}

.page.page-post .post-content h2 {
  font-size: 28px;
  padding: 15px 0;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #3d4854;
  border-bottom: 1px solid #dedfe0;
}
